// main: ../main.scss
@import "../utilities/_variables";

.card {
  margin: auto;
  background-color: white;
  box-shadow: 0 5px 10px 0 black;
  width: $img-size*2;

  a:visited {
    color: $nearlyWhite;
  }

  .header {
    margin: 0;
  }
}

.withMargin {
  padding: 30px;
}
